.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1F26;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding-top:16px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #4D648D;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidenav a:hover {
    color: #D0E1F9;
    background-color: #4D648D;
  }
  .icon{
      padding-left: 10px;
      padding-right: 10px;
      max-width: 196px;
      padding-bottom: 25px;
      padding-top: 25px;

  }