<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Register</h3>
    <form [formGroup]="registerForm" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="Username">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger"
            *ngIf="registerForm.get('Passwords.ConfirmPassword').touched && registerForm.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
            Passwords do not match.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btnMargin btn btn-light" [disabled]="!registerForm.valid">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-danger" *ngIf="showError">{{registerError}}</div>