.card{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #283655;
    color:#D0E1F9;
    text-align: center;
}
.loginForm{
    color:white;
    font-size: 20px;
}
.btnMargin{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-size: 15px;
    margin-top: 15px;
}
.alert{
    position: absolute;
    margin: 0;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
label{
    font-size: 18px;
    color:#D0E1F9;
}