.accordion{
    width: 100%;
    padding: 25px;
}
.btnMargin{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}
table{
    font-size: 15px;
}
.btnVote{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}
.smallFont{
    font-size: 12px;
}
.btnWidth{
    width: 75%;
}
.rowWidth{
    width: 90%;
}